header
    img.header__logo(src="http://info.korea.ac.kr/_res/info/img/community/img_kweb.gif")
    span.header__title KWEB Board
    .header__column
        span.header__login log in &nbsp
        span.header__join join
        span.header__newN
        span.header__userProfile
        span.header__logout