extends ./layout/main
include mixins/lectureBlock

block content
    if user !== undefined
        .lectures
            each lecture in user.lectures.reverse()
                +lectureBlock({
                    id:lecture.id,
                    lectureId:lecture.lectureId,
                    name:lecture.name,
                    professorName:lecture.professor.name
                })
    else
        h1 Plz Login!