extends ./layout/main
include mixins/lectureBlock

block content
    +lectureBlock({
        id:lecture.id,
        lectureId:lecture.lectureId,
        name:lecture.name,
        professorName:lecture.professor.name
    })