extends ./layout/main

block content
    form.chagePassword__form(action=routes.changePassword, method="post")
        input(type="text",name="currentPassword",placeholder="Current Password")
        input(type="text",name="password",placeholder="New Password")
        input(type="text",name="password2",placeholder="New Password 2")
        input(type="submit",value="Change")