extends ./layout/main
include mixins/lectureBlock
include mixins/noticeBlock

block content
    .lectures
        +lectureBlock({
            id:lecture.id,
            lectureId:lecture.lectureId,
            name:lecture.name,
            professorName:lecture.professor.name
        })
    .notices 
        span.notices__title Announcements
        each notice in lecture.notices.reverse()
            +noticeBlock({
                title:notice.title,
                createdAt:notice.createdAt,
                content:notice.content,
                creator:notice.creator.name
            })