extends ./layout/main

block content
    form.login__form(action=routes.login,method="post")
        input.login__input(type="text",name="email",placeholder="email")
        input.login__input(type="text",name="password",placeholder="password")
        input.login__input(type="submit",value="login")