extends ./layout/main
include mixins/noticeBlock

block content
    .noticeses 
        span.noticeses__title Current 3 Days Announcements
        each notices in filteredNotices.reverse()
            .notices 
                span.notices__title Announcements
                each notice in notices.reverse()
                    +noticeBlock({
                        title:notice.title,
                        createdAt:notice.createdAt,
                        content:notice.content,
                        creator:notice.creator.name
                    })
    