@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Raleway:wght@200;400;600&display=swap);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input {
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

.header {
  font-family: "Raleway";
  background-color: #7d0019;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px; }
  .header .header__logo {
    width: 100px;
    height: 100px;
    margin: 10px 0px 10px 20px;
    -webkit-border-radius: 70px;
       -moz-border-radius: 70px;
            border-radius: 70px;
    border: 2px solid white; }
  .header .header__title {
    font-weight: 600;
    font-size: 50px; }
  .header .header__column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 20px; }
    .header .header__column a {
      background-color: #5d0012;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 7px; }
    .header .header__column a:not(:last-child) {
      margin-bottom: 10px; }

.lectures {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  overflow: scroll;
  height: 100%;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none; }
  .lectures::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/ }
  .lectures .lectureBlock {
    position: relative;
    margin: 20px 0px 20px 0px;
    border: 1px solid #cdcdcd;
    border-left: 10px solid #666666;
    min-width: 300px;
    width: 80%;
    height: 100px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .lectures .lectureBlock:hover {
      border: 2px solid #7d0019; }
    .lectures .lectureBlock .lecture__linkToWrite {
      position: absolute;
      font-size: 30px;
      bottom: 35px;
      right: 20px; }
    .lectures .lectureBlock .lecture__linkToAdd {
      position: absolute;
      font-size: 30px;
      bottom: 35px;
      right: 20px; }
    .lectures .lectureBlock .lecture__link {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
         -moz-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-left: 15px; }
      .lectures .lectureBlock .lecture__link .lecture__id {
        font-weight: 200;
        font-size: 15px;
        margin-bottom: 5px; }
      .lectures .lectureBlock .lecture__link .lecture__name {
        font-weight: 600;
        margin-bottom: 5px; }
      .lectures .lectureBlock .lecture__link .lecture__professor {
        font-size: 13px; }

.notices {
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none; }
  .notices::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/ }
  .notices .notice:first-child {
    margin-top: 50px; }
  .notices .notice {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .notices .notice .notice__title {
      font-weight: 600;
      font-size: 25px;
      margin-bottom: 20px; }
    .notices .notice .notice__date {
      font-weight: 200;
      font-size: 15px;
      margin-bottom: 10px; }
    .notices .notice .notice__content {
      line-height: 1.7;
      padding-left: 10px; }
    .notices .notice .notice__creator {
      font-weight: 200;
      font-size: 15px;
      margin-top: 10px; }

* {
  font-family: "Raleway", "Noto Sans KR", sans-serif; }

body {
  background-color: #f8f8f8;
  height: 100%; }

main {
  background-color: #f8f8f8;
  height: 100%; }
